@charset "utf-8";

.page_nb {
    width: 100%;
    margin: 40px auto 20px;
    text-align: center;
    display: inline-block;
}

.page_nb li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #dadada;
    color: #1DCDFF;
    margin: 0 2px;
    cursor: pointer;
}

.page_nb li span {
    color: #000;
    font-weight: bold;
}
#container > div.filter {
  margin-bottom: 8px; border: 1px solid #d6d6d6;
}
#container > div.filter > a {
  float: left; display: block; height: 36px; line-height: 36px; box-sizing: border-box; border-right: 1px solid #d6d6d6; background-color: #fff;
}
#container > div.filter > select {
      width: 29%; float: left; display: block; height: 36px; line-height: 36px; box-sizing: border-box; border-right: 1px solid #d6d6d6; background-color: #fff;
}
#container > div.filter > a:hover {
  background-color: #f8f8f8;
}
#container > div.filter > a:last-of-type {
  border-right: 0;
}
#container > div.filter > a.select {
  padding: 0 22px 0 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #292929; font-size: 12px; background-image: url('https://www.campuspick.com/images/filter.select.arrow.png'); background-repeat: no-repeat; background-position: right 4px center; background-size: 18px 18px;
}
#container > div.filter > a.select.category,
#container > div.filter > a.select.local {
  width: 33%;
}
#container > div.filter > a.select.sort {
  width: 22%;
}
#container > div.filter > a.search {
  width: 13%; background-image: url('https://www.campuspick.com/images/filter.search.png'); background-repeat: no-repeat; background-position: center center; background-size: 24px 24px;
}

#container > form.search {
  display: none; position: relative; margin-bottom: 8px;
}
#container > form.search > div {
  margin-right: 48px; border: 1px solid #d6d6d6; background-color: #fff;
}
#container > form.search > div > input {
  padding: 0 36px 0 8px; width: 100%; height: 36px; line-height: 20px; box-sizing: border-box;
  color: #292929; font-size: 14px; background-color: transparent;
}
#container > form.search > div > input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#container > form.search > div > span.button {
  display: block; position: absolute; right: 48px; top: 0; width: 36px; height: 36px;
  background-image: url('/images/filter.search.png'); background-repeat: no-repeat; background-position: center center; background-size: 24px 24px;
}
#container > form.search > span.cancel {
  display: block; position: absolute; right: 0; top: 0; width: 48px; height: 36px; line-height: 36px;
  color: #a6a6a6; font-size: 14px; font-weight: bold; text-align: center;
}
